<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World</title>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Hello World</h1>
    <p>
    Testing a connection with MySQL.
    </p>
    <a href="/init/" target="_blank" name="init">Init</a>
    <a href="/query/" target="_blank" name="init">Query</a>
    <a href="/close/" target="_blank" name="init">Close</a>
</body>
</html>