body {
  background: #fff !important;
  background-color: #fff !important; 
}

h1, h2, h3{
    text-transform: none !important;
}

h1, h2, h3 {
    color: #000000 !important;
    text-shadow: 4px 4px 30px rgba(221,221,221, 1) !important;
}

h1{
    font-size: 100px !important;
}
p {
    color: #000000;
    text-shadow: 4px 4px 30px rgba(221,221,221, 1);
}

.reveal a {
    color: #000000;
    text-shadow: 4px 4px 30px rgba(221,221,221, 1);  
    text-decoration: underline;          
}

.reveal a:hover { 
    color: #000000;
    text-decoration: none;
}


.reveal section img {
    margin: none; 
    background: rgba(255, 255, 255, 0.0);
    border: none;
    box-shadow: none;
}

ul li{
    color: #000000;
    text-shadow: 4px 4px 30px rgba(221,221,221, 1);
}

div.present {
    opacity: 0.7 !important;
}